* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
}

.navbar-mobile {
  position: absolute;
  width: 60%;
  height: 100vh;
  background-color: rgb(42, 53, 73);
  display: none;
  top: 4rem;
}

.active {
  display: block;
}

.navbar {
  width: 100vw;
  height: 4rem;
  background-color: rgb(4, 74, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.navbar i {
  font-size: 25px;
  position: absolute;
  left: 1rem;
}

.body {
}

.body img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.body-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 1rem 0;
}

.body-info h3 {
  color: rgb(96, 96, 96);
  font-weight: 300;
}

.btn {
  background-color: rgb(4, 74, 195);
  padding: 1rem 3rem;
  border-radius: 100px;
  color: white;
  font-weight: 600;
}

.more {
  width: 100vw;
  background-color: rgb(4, 74, 195);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 3rem;
  font-size: 20px;
  font-weight: 500;
  margin: 3rem 0;
}

.navbar-items {
  display: none;
}

/* .grid{
  background-color: aquamarine;
  width: 100%;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 15rem);
  gap: 5px;
}

.grid-item{
  background-color: crimson;
  width: 100%;
  height: 100%;
} */



@media (min-width: 800px) {
  .navbar {
    background-color: brown;
  }
  .grid{
  background-color: aquamarine;
  width: 100%;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, 15rem);
  gap: 5px;
}
}




