* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(37, 55, 71, 1);
  overflow: hidden;
  padding-left: 1rem;
}

.navbar {
  width: 100%;
  height: 15%;
  display: flex;
}
.body {
  width: 100%;
  height: 75%;
  display: flex;
}

.title {
  width: 40%;
  height: 100%;
  display: flex;
  padding-left: 2%;
  align-items: center;
}
.title h1 {
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav {
  width: 60%;
  height: 100%;
  display: flex;
  padding-left: 4vw;
  align-items: center;
}

.navbar-items {
  display: flex;
  align-items: center;
  height: 5rem;
  gap: 4rem;
  list-style: none;
  padding: 1rem;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  cursor: pointer;

}

.navbar-items li:hover{
    text-decoration: underline rgb(255, 255, 255);

}

.info {
  width: 40%;
  height: 100%;

  padding: 3rem 1rem;
}

.img {
  width: 60%;
  height: 100%;

  display: flex;
  align-items: center;
}

.info h2 {
  font-size: 70px;
}

.info h3 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0.5rem;
}

.info p {
  font-size: 20px;
  margin-top: 5rem;
}

.btn {
  background-color: coral;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 100px;
  margin-top: 4rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(181, 91, 58);
  color: white;
}

.img img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.footer {
  width: 100%;
  height: 10%;
  padding-left: 1rem;
}

.footer-items{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 35px;
    padding-top: 2rem;
}

